[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
click = "*"
flask = "*"
itsdangerous = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Werkzeug = "*"
flask-login = "*"
flask-logger = "*"
redis = "*"
flask-session = "*"
flask-wtf = "*"
flask-mongoengine = "*"
flask-script = "*"
rednose = "*"
nose = "*"
coverage = "*"
kombu = "==4.6.3"
celery = {version = "==4.3.0",extras = ["redis"]}
tornado = "==5.1.1"
flower = "*"
celery-flower = "==1.0.1"
gevent = "*"
requests = "*"
numpy = "*"
webrtcvad = "*"
python-levenshtein = "*"
pymongo = "*"
pypinyin = "*"
zhon = "*"
pycrypto = "*"
scipy = "*"
Flask-APScheduler = "*"
jieba = "*"
synonyms = "*"
smart-open = "*"

[dev-packages]

[requires]
python_version = "3.6"
