<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lib/layui/css/layui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>

<div id="body">
    <div class="image-container">
        <img id="avatar" src="{{ url_for('static',filename='img/avatar/default.jpg') }}">
    </div>
    <div class="login-tip">
        <div id="name">{{ user_name }}，你好！</div>
        <div class="welcome-tip">欢迎来到表达能力测试</div>
    </div>
    <div class="test-tip">本次测试共有{{ max_question_num }}道题，预计用时{{ answer_time }}分钟</div>
    <button onclick="window.location.href='/'" class="layui-btn layui-btn-primary">退出登录</button>
    <button onclick="window.location.href='/question'" class="layui-btn layui-btn-normal">开始测试</button>
</div>

</body>
<script type='text/javascript' src="{{ url_for('static',filename='lib/layui/layui.all.js') }}"></script>
</html>