
#question-searcher {
    width: 40%;
    margin: 5% auto;
}

#question-id {
    width: 70%;
    float: left;
}

#result-table {
    width: 80%;
    margin: 5% auto;
}

#empty-tip, #error-return-tip {
    font-size: 26px;
}

.no-hit {
    font-style: normal;
    white-space: nowrap;
}

.hit {
    border: 2px solid #5FB878;;
    font-style: normal;
    white-space: nowrap;
}

#content {
    width: 85%;
    float: right;
    border: 0;
}

#user-chart {
    width: 80%;
    height: 250px;
    margin: 10px auto;
}

#user-collapse, #question-collapse {
    width: 90%;
    margin: 5px auto;
}

#user-key {
    width: 70%;
    float: left;
    margin-right: 20px;
}

#user-stat {
    width: 90%;
    height: 300px;
    margin: 10px auto;
}

.table-head {
    white-space: nowrap;
    color: #333;
}

.click-tip {
    font-family: "iconfont" !important;
    white-space: nowrap;
    color: #1E9FFF;
    cursor: pointer;
}

.click-tip:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#search-tip {
    text-align: center;
    font-size: 17px;
    color: #777;
    margin: 2% auto;
}

.searcher {
    width: 35%;
    margin: 5% auto 1% auto;
}

.part-tip {
    text-align: left;
    font-size: 16px;
    color: #777;
    margin: 10px 5% 0 5%;
}

.word-list {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin-left: 10px;
}

.word-item {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #cccccc;
    padding: 5px 8px;
    width: 100px;
    margin: 1px 4px;
    color: #333;
    border-radius: 4px;
}

.add-tip {
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    padding: 0 8px;
    margin-bottom: 1px;
    border-radius: 4px;
    margin-right: 5px;
}

.delete-tip {
    font-family: "iconfont" !important;
    font-style: normal;
    color: #999;
    font-weight: 100;
    cursor: pointer;
    position: absolute;
    font-size: 10px;
    z-index: 799;
}

.delete-tip-bg {
    font-family: "iconfont" !important;
    font-style: normal;
    cursor: pointer;
    color: white;
    position: absolute;
    font-size: 18px;
    z-index: 698;
}

#question-table {
    width: 90%;
    margin: 30px auto 85px auto;
    overflow: visible;
}

.delete-btn:hover {
    border-color: #ff5a5f;
}

#revert {
    width: 31%;
    height: auto;
    overflow: visible;
    float: right;
}

#question-score-chart {
    width: 1100px;
    height: 420px;
    margin-top: 30px;
}

#add-question {
    width: 90%;
    margin: 12px auto 30px auto;
    overflow: hidden;
    height: auto;
}

.tip {
    width: 40%;
    float: left;
    margin: 18px 25px 0;
    font-size: 14px;
    color: #777;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-color: #1E9FFF;
    color: #fff;
}

.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color: #1E9FFF;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1E9FFF;
}

.layui-tab-content {
    padding: 0;
}

.layui-form-select dl dd.layui-this {
    background-color: #1E9FFF;
    color: #fff;
}

.layui-textarea {
    border-width: 0;
}

td > .layui-input-block {
    margin-left: 0;
}