@font-face {
    font-family: 'iconfont';  /* project id 871992 */
    src: url('//at.alicdn.com/t/font_871992_op3p1gtx63s.eot');
    src: url('//at.alicdn.com/t/font_871992_op3p1gtx63s.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_871992_op3p1gtx63s.woff') format('woff'),
    url('//at.alicdn.com/t/font_871992_op3p1gtx63s.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_871992_op3p1gtx63s.svg#iconfont') format('svg');
}

#body {
    width: 80%;
    margin: auto;
    text-align: center;
}

#support-info {
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-align: center;
    margin-bottom: -50px;
    color: gray;
    transform: translate(-50%, -50%);
}

#avatar {
    width: 10%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.image-container {
    margin: 10% auto 5% auto;
}

#name, .welcome-tip, .test-tip {
    margin: 10px auto;
    font-size: 16px;
}

.test-tip {
    margin-bottom: 20px;
}

.question-title {
    font-size: 24px;
    margin: 10% auto 3% auto;
}

.question-detail {
    font-size: 16px;
    margin: 10px auto;
}

.question-tip {
    font-size: 14px;
    margin: 5% auto 10% auto;
}

.readable, .readable br {
    width: 60%;
    text-align: left;
    text-indent: 2em;
}

#start-record, #end-record {
    margin: 50px;
}

.sound {
    text-align: center;
    margin: auto;
    width: 52px;
    height: 40px;
    overflow: hidden;
}

.icon-font {
    font-family: "iconfont" !important;
    font-size: 36px;
    font-style: normal;
    margin-top: 2%;
    color: white;
    float: left;
}

.icon-font-sound {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    color: white;
    position: absolute;
}

.sound-img {
    float: left;
    position: relative;
}

.radar {
    width: 500px;
    height: 450px;
    margin: 3% auto 5px auto;
}

#total-score {
    width: 500px;
    text-align: center;
    margin: auto;
    font-size: 24px;
}

#form {
    width: 30%;
    margin: 18% auto 0 auto;
}

#login-title {
    font-size: 24px;
    text-align: center;
    margin: 10px auto 30px auto;
}
